body{
  font-family: Serif, Tahoma, Verdana, sans-serif;
  text-align: center;
  margin: auto;
}
img: "http://www.bbc.co.uk/staticarchive/6a519f321588796a0c0d2e66b0bf96b829caaf5b.gif"{
  height: 100px;
  width: 100px;
  margin: auto;
}
