body{
  font-family: Serif, Tahoma, Verdana, sans-serif;
  text-align: center;
  margin: auto;
}
img: "http://www.iconarchive.com/download/i85581/graphicloads/100-flat/home.ico"{
  height: 100px;
  width: 100px;
  margin: auto;
}
